

<app-categorias-form (categoriaAgregada)="agregarCategoria($event)" ></app-categorias-form>
<div *ngFor="let categoria of categorias" >
  <div *ngIf="compareUsuarioIdWithCategoria(categoria)" [style.border-left]="'5px solid ' + categoria.color" class="categoria">
  <div  class="header">

      <h2>{{ categoria.nombre }}</h2>
    <p>{{ categoria.descripcion }}</p>

      <button (click)="toggleDashboard(categoria.id)">
        {{ mostrarDashboard[categoria.id] ? 'Ocultar Actividades' : 'Mostrar Actividades' }}
      </button>
      <button (click)="eliminarCategoria(categoria.id)"> 
        Eliminar categoria
      </button>
      <button (click)="editarCategoria(categoria)"> 
        Editar categoria
      </button>
      
    </div>
  </div>

      
      <div *ngIf="mostrarDashboard[categoria.id]" class="dashboard">
        <app-actividades-form (actividadAgregada)="agregarActividad(categoria.id,$event)"></app-actividades-form>
        <app-actividades-dashboard
        [categoriaId]="categoria.id">
      </app-actividades-dashboard>
      
  </div>
</div>

<div *ngIf="editingCategoria">
  <h4>Editar Actividad</h4>
  <form (ngSubmit)="guardarCambios()">
    <div>
      <label for="nombre">Nombre:</label>
      <input id="nombre" [(ngModel)]="editingCategoria.nombre" name="nombre"  >
    </div>
    <div>
      <label for="descripcion">Descripción:</label>
      <input id="descripcion" [(ngModel)]="editingCategoria.descripcion" name="descripcion">
    </div>
    <div>
      <label for="color">Color:</label>
      <input type="color" id="color" [(ngModel)]="editingCategoria.color" name="color">
    </div>
    <button type="submit">Guardar Cambios</button>
    <button type="button" (click)="onCancelarEdicion()">Cancelar</button>
  </form>
</div>
