<div >
    <h3>Agregar Nueva Actividad</h3>
    <form (ngSubmit)="onAgregarActividad()">
      <div>
        <label for="titulo">Título:</label>
        <input id="titulo" [(ngModel)]="nuevaActividad.titulo" name="titulo" required>
      </div>
      <div>
        <label for="prioridad">Prioridad:</label>
        <select id="prioridad" [(ngModel)]="nuevaActividad.prioridad" name="prioridad">
          <option value="alta">Alta</option>
          <option value="media">Media</option>
          <option value="baja">Baja</option>
        </select>
      </div>
      <div>
        <label for="estado">Estado:</label>
        <select id="estado" [(ngModel)]="nuevaActividad.estado" name="estado">
          <option value="pendiente">Pendiente</option>
          <option value="en_progreso">En Progreso</option>
          <option value="completada">Completada</option>
        </select>
      </div>
      <div>
        <label for="fechaInicio">Fecha Inicio:</label>
        <input type="date" id="fechaInicio" [(ngModel)]="nuevaActividad.fechaInicio" name="fechaInicio">
      </div>
      <div>
        <label for="fechaFin">Fecha Fin:</label>
        <input type="date" id="fechaFin" [(ngModel)]="nuevaActividad.fechaFin" name="fechaFin">
      </div>
      <button type="submit">Agregar Actividad</button>
    </form>
  </div>
  