<div class="register">
  <h2>Registro</h2>
  <form (ngSubmit)="register()">
    <input name="nombre" type="text" [(ngModel)]="user.nombre_usuario" placeholder="Nombre" required>
    <input name="email" type="email" [(ngModel)]="user.correo" placeholder="Correo" required>
    <input name="contraseña" type="password" [(ngModel)]="user.contrasena" placeholder="Contraseña" required>
    <div class="container-buttons">
      <button type="submit">Registrarse</button>
      <button (click)="navigateToLogin()">Logearse</button>
    </div>
  </form>
</div>