<div>
    <button (click)="toggleFormularioCategorias()">
      {{ mostrarFormularioCategoria ? 'Cerrar Formulario' : 'Agregar Nueva Categoría' }}
    </button>
  </div>
  <div *ngIf="mostrarFormularioCategoria">
    <h2>Agregar Nuevo Recordatorio</h2>
    <form (ngSubmit)="agregarCategoria()">
      <div>
        <label for="titulo">titulo:</label>
        <input id="titulo" [(ngModel)]="nuevaCategoria.titulo" name="titulo" required>
      </div>
      <div>
        <label for="fechaHora">Descripción:</label>
        <input id="fechaHora" [(ngModel)]="nuevaCategoria.fechaHora" name="fechaHora">
      </div>
      <div>
        <label for="repeticion">repeticion:</label>
        <input type="repeticion" id="repeticion" [(ngModel)]="nuevaCategoria.repeticion" name="repeticion">
      </div>
      <div>
        <label for="estado">estado:</label>
        <input type="estado" id="estado" [(ngModel)]="nuevaCategoria.estado" name="estado">
      </div>
      <div>
        <label for="notaAdicional">notaAdicional:</label>
        <input type="notaAdicional" id="notaAdicional" [(ngModel)]="nuevaCategoria.notaAdicional" name="notaAdicional">
      </div>
      <button type="submit">Agregar Categoría</button>
    </form>
  </div>
  <hr>